$header-font: 'Lora', serif;
$subheader-font: 'Istok Web', sans-serif;
$body-font: 'Alegreya', serif;



* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  text-decoration: none;
}

body {
}

a { 
  text-decoration: none;
}

header {
  background-color: white;
  position: relative;
  display: flex;
  width: 100%;
  height: 11vh;
  border-bottom: 1px solid rgb(192, 192, 192);

  span{
    width: 66vw;

    h1 {
      font-family: $header-font;
      font-size: 3em;
      
    }
    
    h4 {
      font-family: $subheader-font;
    }

  }

  .header--search {
    font-family: $subheader-font;
    display: inline-flex;
    height: 2em;
    margin-top: 20px;

    h3 {
      height: 100%;
      font-weight: 600;
      font-size: 20px;
    }

    input {
      font-family: $subheader-font;
      border-radius: 8px;
      font-size: 12px;
      margin-left: 4px;
      width: 22vw;
      border: 1px solid black;
    }
  }
}

#ui-tabs {
  width: 100%;
  background: white;
  height: 100vh;
  display: flex;
  flex-direction: column;


  #tab-btn-container {
    display: flex;
    list-style: none;
    width: 100%;
    font-family: $subheader-font;
    padding-left: 15%;
    align-items: center;
    justify-content: space-around;



    li {
      text-align: center;
      font-size: 1.2em;
      font-weight: 700;
      border-radius: 2px;
      width: 300px;
      transition: all .2s ease-in-out, background .3s; 
      text-decoration: none;
    }
    
    li:hover {
      // transform: scale(1.1);
      background:rgba(190, 100, 73, 0.2);
      box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }

  }

  #dboard-tab {
    background: rgb(226, 226, 255);
    background-repeat: no-repeat;
    text-align: center;

    #dboard-accordion {
      width: 90%;
      margin: auto;
      height: 40px;
      background-color: rgba(54, 52, 52, 0.849);
      color: white;
      font-size: 1.7em;
      border-radius: 10px;

      h3 {
        height: 5vh;
        background-color: #b9b3b3;
        font-family: $body-font;
        font-size: 1.3em;
        border-bottom: 2.5px solid rgb(197, 197, 197);
        border-radius: 2px 0;
      }

      div {
        background-color: rgb(252, 250, 250);
        height: 50vh;
        font-family: $subheader-font;
        color: black;
      }

    }

  }

  #orders-tab {
    background: rgb(196, 189, 189);
  }

  #rooms-tab {
    background: green;
  }

  #customer-tab {
    background: rgb(117, 43, 96);
  }
  .style-tabs {
    color: #787878;
    background-position: center 3px;
    padding-top: 40px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    width: 100%;
    height: 100%;
  }

}

h5 {
  font-family: $body-font;
  font-size: 3em;
  color: rgb(22, 5, 5);
}

.dropdown {
  width: 100px;
  height: 40px;
  font-size: 16px;
  background-color: white;
}
