$background: rgb(226, 226, 255);
$body-font: 'Alegreya', serif;
$brown: #c4af93;
$carbon: #a9a9a9;
$header-font: 'Lora', serif;
$kreme: #ed8a63;
$neutral: #efefef;
$sky: #caebf2;
$slate: rgba(54, 52, 52, 0.849);
$subheader-font: 'Istok Web', sans-serif;
$tan: #d7cec7;
$watermelon: #ff3b3f;



* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  text-decoration: none;
}

body {
  font-family: $subheader-font;
  position: relative;
}

a { 
  text-decoration: none;
}

.modal-start {
  background-color: $slate;
  border-radius: 8px;
  border: 3px solid $sky;
  bottom: 0;
  height: 40vh;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 60vw;
  z-index: 3000;

  h2 {
    color: $sky;
    font-size: 3em;
    font-family: $subheader-font;
  }

  button {
    background: lightgray;
    border-radius: 5px;
    font-family: $subheader-font;
    font-size: 1em;
    height: 7vh;
    width: 12vw;
  }
}

.modal-backdrop {
  background-color: black;
  height: 100vh;
  opacity: .8;
  position: fixed;
  width: 100vw;
  z-index: 2000;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  background-color: rgba(0,0,0,.5);
  border-radius: 4px;
}

#ui-datepicker-div {
  background: $carbon;
  border-radius: 4px;
  border: 2px solid black;
}

.page-header {
  background-color: $tan;
  border-bottom: 2px solid rgb(0, 0, 0);
  color: black;
  display: flex;
  font-weight: 700;
  height: 11vh;
  width: 100%;

  span {
    width: 66vw;

    h1 {
      font-family: $header-font;
      font-size: 3em;
    }
    
    h4 {
      font-family: $subheader-font;
    }
  }
  .customer-selected-display {
    color: $kreme;
    font-size: 1.8em;
  }
}

// TAB CONTAINER & HEADER

#ui-tabs {
  background: $background;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;


  #tab-btn-container {
    align-items: center;
    background-color: $neutral;
    display: flex;
    font-family: $subheader-font;
    list-style: none;
    padding: 0;
    width: 100%;


    li {
      background: $slate;
      border-left: 1px solid rgb(0, 0, 0);
      color: black;
      font-size: 1.2em;
      font-weight: 700;
      justify-content: space-evenly;
      text-align: center;
      text-decoration: none;
      transition: all .2s ease-in-out, box-shadow .3s; 
      width: 25%;
    }
    
    li:hover {
      background:rgb(94, 128, 201);
      box-shadow: 0 2px 1px #777; 
    }

    ::placeholder {
      color: white;
    }

    .ui-tabs-active {
      background-color: rgb(185, 139, 86);
    }

    a {
      display: block;
    }

    a:link {
      color: white;
    }

    a:active {
      color: white;
    } 

    a:visited {
      color: white;
    } 

  }

  // DASHBOARD TAB

  #dboard-tab {
    background-repeat: no-repeat;
    background: rgb(226, 226, 255);
    text-align: center;

    #dboard-accordion {
      background-color: rgba(54, 52, 52, 0.849);
      border-radius: 10px;
      color: white;
      font-size: 1.7em;
      height: 40px;
      margin: auto;
      width: 90%;

      h3 {
        background-color: $brown;
        border-bottom: 2.5px solid rgb(197, 197, 197);
        border-radius: 2px 0;
        font-family: $body-font;
        font-size: 1.3em;
        height: 8vh;
      }

      .gen-info {
        border-radius: 0 0 10px 10px;
        display: flex;
        height: 382.5px;
        justify-content: space-evenly;

        li {
          margin: 1em 0;
          text-align: left; 
        }

      }

      a {
        float: left;
      }

      a:link {
        color: white;
      }

      a:hover {
        color: #ed8a63;
      }

      a:active {
       color: white;
      } 

      a:visited {
        color: white;
      }

      .gen-info-stats {
        background: white;
        border: 1px solid black;
        display: inline-block;
        float: left;
        height: 90%;
        margin: .5em;
        overflow-y: scroll;
        width: 25%;
      }
      
      .curr-reserved {
        background: white;
        border-radius: 3px;
        border: solid 1px grey;
        display: inline-block;
        float: left;
        height: 90%;
        margin: .5em;
        max-width: 200px;
        min-width: 160px;
        overflow-y: scroll;
        width: 20%;
      }

      h6 {
        background: grey;
        border-radius: 2px;
        border: 2px solid $carbon;
        font-size: 1em;
        text-align: left;
      }

      .res-rooms,
      .av-rooms {
        display: flex;
        flex-direction: column;
        font-size: 1.3em;
        text-align: left;
      }

      .table-items {
        border-bottom: 1px dotted lightgrey;
        font-size: 1.1em;
        margin-left: 10px;
      }

      div {
        background-color: rgb(252, 250, 250);
        color: black;
        font-family: $subheader-font;
        height: 50vh;
      }

    }

  }

  .style-tabs {
    background-position: center 3px;
    color: $neutral;
    font-size: 12px;
    font-weight: bold;
    height: 100%;
    padding-top: 40px;
    text-align: center;
    width: 100%;
  }

  // CUSTOMER TAB

  #customer-tab {

    .cust-blurb {
      color: black;
      font-size: 1.8em;
    }

    .cust-input { 
      border-radius: 5px;
      display: block;
      font-family: $body-font;
      font-size: 1.8em;
      height: 2.8em;
      margin: auto;
      width: 75%;
    }

    section {
      background: $neutral;
      border-radius: 0 0 9px 9px;
      display: flex;
      height: 74vh;
      justify-content: space-evenly;
      margin: auto;
      width: 90vw;

    }
    header {
      background: $slate;
      border-radius: 15px 15px 0 0;
      color: white;
      font-family: $body-font;
      font-size: 2.5em;
      height: 8%;
      margin: auto;
      width: 90vw;
    }

    div {
      background: #fcfafa;
      border-radius: 0 0 15px 15px;
      border: 2px solid rgb(141, 137, 137);
      display: inline-block;
      height: 70vh;
      width: 45%;
    }
    
    .customer-search {

      .customer-search-display {
        background: $neutral;
        border-radius: 5px;
        border: solid 1px black;
        color: black;
        display: block;
        height: 50vh;
        margin-top: 10px;
        margin: auto;
        overflow-y: scroll;
        text-align: left;
        width: 85%;
      }

      .search-resp{
        font-size: 2em;
        font-family: $subheader-font;
        transition: background .4s; 
      }

      .search-resp:hover {
        background: lightgray;
      }

    }

    .customer-add{

      .cust-add-button {
        margin: 12px;
        width: 55%;
      }

      .new-cust-display {
        color: black;
        font-size: 1.9em;
      }

    }

    
  }
  #rooms-tab {
    color: black;
    font-size: 1em;

    .rooms-content {
      background: $neutral;
      border: 2px solid $slate;
      height: 75vh;
      width: 100%;

      .most-booked,
      .least-booked {
        font-size: 1.3em;
        margin: 8px 0;
      }
      
      .rooms-container {
        display: flex;
        justify-content: space-evenly;
      }

      .find-rooms-block,
      .all-cust-bookings {
        border-radius: 5px;
        border: 2px solid black;
        width: 25vw;
        
        .all-cust-heading {
          position: relative;
        }

        .room-error {
          color: red;
          display: inline;
          float: right;
          position: absolute;
          visibility: hidden;
        }

        .room-selector, 
        .booking-history {
          border-bottom: 1px solid black;
        }

        .av-room-search-disp,
        .all-cust-display {
          background: #8d8989;
          display: block;
          font-size: .8em;
          height: 50vh;
          overflow-y: scroll;          


          th {
            margin: 0 5px;
          }
        }
      }
    }
  }

  #orders-tab {
    font-size: 1.1em;

    .orders-content {
      background: $neutral;
      border: 2px solid $slate;
      color: black;
      font-size: .9em;
      height: 70vh;
      width: 100%;

      .order-table-container {
        display: flex;
        height: 30vh;
        justify-content: space-evenly;
        margin: auto;
      }

      .general-orders {
        display: flex;
        font-size: 1.3em;
        height: 20vh;
        width: 50%;
      }

      table {
        background: #8d8989;
        border: solid 1px black;
        display: block;
        height: 20vh;
        margin: 0 0 30px 0;
        width: 100%;
        overflow-y: scroll;          

        tr {
          border-bottom: 1px solid lightgray;
          display: flex;
          justify-content: space-evenly;
        }
      }

      .today-orders, 
      .today-cust-orders, 
      .all-cust-orders {
        border-radius: 5px;
        border: 2px solid black;
        display: inline-block;
        height: 100%;
        margin-top: 7%;
        width: 25vw;
      }
    }
  } 

}

h5 {
  color: rgb(22, 5, 5);
  font-family: $body-font;
  font-size: 3em;
}


