$header-font: 'Lora', serif;
$subheader-font: 'Istok Web', sans-serif;
$body-font: 'Alegreya', serif;
$tan: #d7cec7;
$slate: rgba(54, 52, 52, 0.849);
$kreme: #ed8a63;
$brown: #c4af93;
$sky: #caebf2;
$carbon: #a9a9a9;
$watermelon: #ff3b3f;
$neutral: #efefef;



* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  text-decoration: none;
}

body {
  position: relative;
}

a { 
  text-decoration: none;
}

.modal-start {
  position: fixed;
  z-index: 3000;
  background-color: white;
  height: 40vh;
  width: 60vw;
  margin: auto;
}

.modal-backdrop {
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: .7;
  position: fixed;
  z-index: 2000;
}

.page-header {
  background-color: $tan;
  position: relative;
  color: $carbon;
  font-weight: 700;
  display: flex;
  width: 100%;
  height: 11vh;
  border-bottom: 2px solid rgb(0, 0, 0);

  span{
    width: 66vw;

    h1 {
      font-family: $header-font;
      font-size: 3em;
      
    }
    
    h4 {
      font-family: $subheader-font;
    }

  }

  // .header--search {
  //   font-family: $subheader-font;
  //   display: inline-flex;
  //   height: 2em;
  //   margin-top: 20px;

  //   h3 {
  //     height: 100%;
  //     font-weight: 600;
  //     font-size: 20px;
  //   }

  //   input {
  //     font-family: $subheader-font;
  //     border-radius: 8px;
  //     font-size: 12px;
  //     margin-left: 4px;
  //     width: 22vw;
  //     border: 1px solid black;
  //   }
  // }
}

#ui-tabs {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: $sky;


  #tab-btn-container {
    display: flex;
    list-style: none;
    width: 100%;
    font-family: $subheader-font;
    align-items: center;
    padding: 0;
    background-color: $neutral;


    li {
      text-align: center;
      font-size: 1.2em;
      font-weight: 700;
      color: white;
      background: $neutral;
      border-radius: 3px;
      justify-content: space-evenly;
      width: 25%;
      transition: all .2s ease-in-out, box-shadow .3s; 
      text-decoration: none;
      border-left: 3px solid rgb(30, 31, 85);
    }
    
    li:hover {
      // transform: scale(1.1);
      background:rgb(94, 128, 201);
      box-shadow: 0 2px 1px #777; 
    }

   

    

    ::placeholder {
      color: white;
    }

    .ui-tabs-active {
      background-color: rgb(185, 139, 86);
    }

    a {
      display: block;
    }

    a:link {
      color: white;
    }

    a:hover {
      
    }
    a:active {
      color: white;
    } 
    a:visited {
      color: white;
    } 

  }

  #dboard-tab {
    background: rgb(226, 226, 255);
    background-repeat: no-repeat;
    text-align: center;

    #dboard-accordion {
      width: 90%;
      margin: auto;
      height: 40px;
      background-color: rgba(54, 52, 52, 0.849);
      color: white;
      font-size: 1.7em;
      border-radius: 10px;

      h3 {
        height: 5vh;
        background-color: $brown;
        font-family: $body-font;
        font-size: 1.3em;
        border-bottom: 2.5px solid rgb(197, 197, 197);
        border-radius: 2px 0;
      }

      a {
        float: left;
      }
      a:link {
      color: white;
      }

      a:hover {
        color: #ed8a63;
      }
      a:active {
      color: white;
      } 
      a:visited {
      color: white;
      }

      .gen-info-stats {
        display: inline-block;
        float: left;
        background: white;
        width: 25%;
        margin: .5em;
        border: 1px solid black;
        height: 90%;
      }
      
      .curr-reserved {
        margin: .5em;
        height: 90%;
        width: 20%;
        overflow-y: scroll;
        background: white;
        border: solid 1px grey;
        border-radius: 3px;
        display: inline-block;
        float: left;
        max-width: 200px;
        min-width: 160px;
      }

      h6{
        font-size: 1em;
        text-align: left;
        background: grey;
        border: 2px solid $carbon;
        border-radius: 2px;
      }

      .res-rooms,
      .av-rooms {
        text-align: left;
        font-size: 1.3em;
        display: flex;
        flex-direction: column;
      }

      .table-items {
        border-bottom: 1px dotted lightgrey;
        margin-left: 10px;
      }

      div {
        background-color: rgb(252, 250, 250);
        height: 50vh;
        font-family: $subheader-font;
        color: black;
      }

    }

  }

  .style-tabs {
    color: $neutral;
    background-position: center 3px;
    padding-top: 40px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  
  #customer-tab {

    .cust-blurb {
      color: black;
      font-size: 1.8em;
    }

    .cust-input { 
      width: 75%;
      font-size: 1.8em;
      height: 2.8em;
      border-radius: 5px;
      font-family: $body-font;
    }

    section {
      width: 90vw;
      height: 74vh;
      background: $neutral;
      display: flex;
      margin: auto;
      justify-content: space-evenly;
      border-radius: 0 0 9px 9px;

    }
    header {
      font-size: 3em;
      width: 90vw;
      margin: auto;
      color: white;
      height: 6%;
      font-family: $body-font;
      background: $slate;
      border-radius: 15px 15px 0 0;
    }

    div {
      display: inline-block;
      width: 45%;
      height: 70vh;
      background: #fcfafa;
      border-radius: 0 0 15px 15px;
      // margin: auto;
      border: 2px solid rgb(141, 137, 137);
    }
    
    .customer-search {


    }
    .customer-info{
    }

  #rooms-tab {
    background: green;
  }

  #orders-tab {
    background: rgb(196, 189, 189);
  }

  }

}

h5 {
  font-family: $body-font;
  font-size: 3em;
  color: rgb(22, 5, 5);
}

.dropdown {
  width: 100px;
  height: 40px;
  font-size: 16px;
  background-color: white;
}
